
.gradle/4.6/fileChanges/last-build.bin
.gradle/4.6/fileHashes/fileHashes.bin
.gradle/4.6/fileHashes/fileHashes.lock
.gradle/4.6/fileHashes/resourceHashesCache.bin
.gradle/4.6/taskHistory/taskHistory.bin
.gradle/4.6/taskHistory/taskHistory.lock
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/buildOutputCleanup/cache.properties
.gradle/buildOutputCleanup/outputFiles.bin
.gradle/vcsWorkingDirs/gc.properties
.idea/caches/build_file_checksums.ser
.idea/codeStyles/Project.xml
.idea/gradle.xml
.idea/misc.xml
.idea/modules.xml
.idea/runConfigurations.xml
.idea/vcs.xml
.idea/workspace.xml
app/app.iml
local.properties
gradlew.bat
gradlew
gradle/wrapper/gradle-wrapper.properties
gradle/wrapper/gradle-wrapper.jar
app/app.iml
app/app.iml
app/app.iml
